body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: lightblue;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

form div label {
    margin-bottom: 5px;
}

.text-danger {
    color: tomato;
}

.blue {
    background-color: blue;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.red {
    background-color: red;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.green {
    background-color: rgba(9, 255, 9, 0.796);
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
}